{% extends "base.html"%}
{% block content %}


  <!-- BODY OF THE PAGE -->
<!-- BODY OF THE PAGE -->
<div class="container">

    <div class="row">
      <div class="col-md-8">
        <p>Companie's chart </p>
        <div id="bsBarDiv"></div>
        <script scr='../static/js/bs_bar.js'></script>
      </div>
    
      <div class="col-md-4">
        <p>Companie's comment </p>
      </div>
    </div>


    <div class="row">
       <div class="col-md-8">
          <p>Companie's chart 2</p>
        </div>
          
        <div class="col-md-4">
          <p>Companie's comment 2 </p>
        </div>
    </div>

    <div class="row">
      <div class="col-md-8">
        <p>Companie's chart 3</p>
      </div>
    
      <div class="col-md-4">
        <p>Companie's comment 3 </p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8">
        <p>Companie's chart 4</p>
      </div>
    
      <div class="col-md-4">
        <p>Companie's comment 4 </p>
      </div>
    </div>

    {{ is_data }}

</div>
{% endblock %}

