<!DOCTYPE html>
<html>

<!-- HEAD OF THE WEBSITE -->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>HOME PAGE</title>
  <meta name="discription" content="">
  <meta name="viewport" content="width=device-width, initial=scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" \
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="../static/css/project3.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Khand&display=swap" rel="stylesheet">
  <link href="../static/css/nv.d3.css" rel="stylesheet" type="text/css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js" charset="utf-8"></script>
  <script src="../static/js/nv.d3.js"></script>
  <script src="../static/js/stream_layers.js"></script>
  <script scr='../static/js/bs_bar.js'></script>

</head>


<body>
  <!-- navigation bar part -->

  <div class="container-fluid" style="width: 100% ; margin: 0 auto;">
    <div class="row" style="background-color: rgb(106, 137, 240)">
        <div class="col">
          <div class="nav">
            <label for="toggle">&#9776;</label>
            <input type="checkbox" id="toggle" />

            <div class="menu">

            <div style="display: inline;">
                <a href="/">Cannabis Industry</a>
            </div>
  
              <div style="display: inline;">
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                  data-toggle="dropdown" aria-expanded="false">Companies </a>
  
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <a class="dropdown-item" href="https://www.canopygrowth.com/">Canopy Growth [WEED]</a>
                  <a class="dropdown-item" href="https://www.auroramj.com/">Aurora [ACB]</a>
                  <a class="dropdown-item" href="https://thecronosgroup.com/">The Cronos Group [CRON]</a>
                  <a class="dropdown-item" href="https://aphria.ca/">Aphria [APHA]</a>
                  <a class="dropdown-item" href="https://www.hempinc.com/">Hemp Inc [HENO]</a>
                  <a class="dropdown-item" href="https://www.organigram.ca/">Organigram [OGI]</a>
                  <a class="dropdown-item" href="https://www.weedmd.com/">WeedMD [WMD]</a>
                  <a class="dropdown-item" href="https://www.supreme.ca/">The Supreme Cannabis Company [FIRE]</a>
                  <a class="dropdown-item" href="https://originhouse.com/">CannaRoyalty Corp [OH]</a>
                  <a class="dropdown-item" href="https://www.terrascend.com/">Terrascend [TER]</a>
                </div>
              </div>
  
  
              <div style="display: inline;">
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink2"
                  data-toggle="dropdown" aria-expanded="false">Charts </a>
  
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink2">
                  <a class="dropdown-item" href="Comparison_1.html">Chart_type 1</a>
                  <a class="dropdown-item" href="Comparison_2.html">Chart_type 2</a>
                  <a class="dropdown-item" href="Comparison_3.html">Chart_type 3</a>
                  <a class="dropdown-item" href="Comparison_4.html">Chart_type 4</a>
                </div>
              </div>
  
              <div style="display: inline;">
                <a href="/team">Team</a>
              </div>
  
            </div>
          </div>
        </div>
      </div>




    </div>


<!-- TICKERS  -->

      <div class="row tickersImage">
        <div class="col-xs-1-10">
          <a href="/acb" style="text-decoration: none">ACB</a>
        </div>
        <div class="col-xs-1-10">
          <a href="/apha" style="text-decoration: none">APHA</a>
        </div>
        <div class="col-xs-1-10">
          <a href="/cron" style="text-decoration: none">CRON</a>
        </div>
        <div class="col-xs-1-10">
          <a href="/fire" style="text-decoration: none">FIRE</a>
        </div>
        <div class="col-xs-1-10">
          <a href="/hexo" style="text-decoration: none">HEXO</a>
        </div>
         <div class="col-xs-1-10">
          <a href="/ogi" style="text-decoration: none">OGI</a>
        </div>
          <div class="col-xs-1-10">
          <a href="/oh" style="text-decoration: none">OH</a>
        </div>
        <div class="col-xs-1-10">
          <a href="/ter" style="text-decoration: none">TER</a>
        </div>
        <div class="col-xs-1-10">
          <a href="/weed" style="text-decoration: none">WEED</a>
        </div>
        <div class="col-xs-1-10">
          <a href="/wmd" style="text-decoration: none">WMD</a>
        </div>
      </div>
    
<br>
<br>
<br>

  <!-- BODY OF THE PAGE -->
  {% block content %}
  {% endblock %}
  <!-- For drop down -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

  

</body>

</html>