{% extends "base.html"%}
{% block content %}
  <!-- BODY OF THE PAGE -->
<!-- BODY OF THE PAGE -->
<div id="structure" class="container">

    <div id="structure" class="row">
      <div id="structure" class="col-md-8">
        <p>Companie's chart </p>
      </div>
    
      <div id="structure" class="col-md-4">
        <p>Companie's comment </p>
      </div>
    </div>


    <div id="structure" class="row">
       <div id="structure" class="col-md-8">
          <p>Companie's chart 2</p>
        </div>
          
        <div id="structure" class="col-md-4">
          <p>Companie's comment 2 </p>
        </div>
    </div>

    <div id="structure" class="row">
      <div id="structure" class="col-md-8">
        <p>Companie's chart 3</p>
      </div>
    
      <div id="structure" class="col-md-4">
        <p>Companie's comment 3 </p>
      </div>
    </div>

    <div id="structure" class="row">
      <div id="structure" class="col-md-8">
        <p>Companie's chart 4</p>
      </div>
    
      <div id="structure" class="col-md-4">
        <p>Companie's comment 4 </p>
      </div>
    </div>


    </div>

{% endblock %}