{% extends "base.html"%}
{% block content %}

  <!-- BODY OF THE PAGE -->
<!-- BODY OF THE PAGE -->
<div id=“structure” class=“container”>
    <div id=“structure” class=“row”>
      <div id=“structure” class="col-md-12">
        <div id=“myDiv1”></div>
      </div>
    </div>
    <div id=“structure” class=“row”>
        <p>Companie’s comment 3 </p>
    </div>
    <div id=“structure” class=“row”>
      <div id=“structure” class=“col-md-12”>
        <p><div id=“myDiv”></div> </p>
      </div>
    </div>
   <div id=“structure” class=“row”>
        <p>Companie’s comment 3 </p>
    </div>
</div>

{% endblock %}